<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="tweets.css">
  </head>

  <div class="warper">
      <ul class="bigbox">
        <li class="bigbox_name">投稿者: masa</li>
        <li class="bigbox_word">用語： 気密補助材</li>
        <li class="bigbox_text"></li>
          気密住宅の気密性を確保するために、
          防湿気密フィルムなどの気密材の継目などに用いる材料のこと。
        <li class="bigbox_image"></li>
      </ul>
  </div>
  </body>
</html>